#topPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

}
#message {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 32px;
}

@media screen and (max-width: 1024px) {
    #message {
        font-size: large;
    }
}
